
@import './scss/variables';

@mixin centerItem {
  display: flex;
  align-items: center;
  justify-content:center;
}

body{
  background: #eaeded;
}

@import './scss/header';
@import './scss/slider';
