


.header{
    display: flex;
    // justify-content: space-between;
    background: $deepBackground;
    color: $textColorOverDark;

    button {
        border: none;
        padding: 5px 15px;
        border-radius: 0px 5px 5px 0px;
        background: #f3a847;
        height: 35px;
        font-weight: bold;
        
        
        &:hover {
            background: #f19217;
          }
    }
}

.img-logo{
    height: 44px;
    margin-left: 15px;
    margin-top: 9px;
    @include centerItem();
}

.address-container{
    line-height: 0px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    span {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #ccc;
    };
    h3 {
        margin-top: 5px;
        font-size: 14px;
    };
    .address-icon {
        display: flex;
        align-self: flex-end;
        height: 40px;
        padding-right: 1px;
    }
    svg {
        font-size:19px;
    }
}

@mixin common-align($marginLeft:0) {
    line-height: 0px;
    margin-top: 20px;
    margin-left: $marginLeft;
    span {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #ccc;
    };
    h3 {
        font-size: 14px;
        margin-top: 5px;
    };
}

.account-and-signin{
   @include common-align();
}

.returns-and-orders{
    @include common-align(20px);
}

.header-search{
    width: 50%;
    margin-left: 15px;
    padding: 14px 0px;
    input {
        width: 70%;
        height: 35px;
        font-size: 16px;
        border-radius: 0px;
        border: none;
    }
    select {
        height: 35px;
        border-radius: 5px 0px 0px 5px;
        padding: 5px;
        border: none;
        background: #ebebeb;
        color: #787777;
        display: inline;
        width: 10%;
    }
}
.cart-wrapper{
    margin-left: 30px;
    display: flex;
    h3 {
        font-size: 16px;
        display: flex;
        align-items: flex-end;
        margin-left: -6px;
    };
    img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }
}


.bottom-div-wrapper{
    display: flex;
    justify-content: space-between;
    background: #232f3e;
    color: white;
    font-weight: 400;
    padding: 9px 0px;
    font-size: 14px;
    .bottom-div{
        display: flex;
        justify-content: space-evenly;
        width: 43%;
    }
    span {
        font-weight: 500;
        padding: 10px;
    }
}