.img-wrapper{
    img{
        width: 100%;
        
    }
    
    
}
.row{
    margin-bottom: 10px;
}

.blocks-wrapper{
    h1{
        font-size: 19px;
        font-weight: bold;
    }
    span{
        font-size: 11px;
        font-weight: 500;
    }
    .banner-div{
        background: white;
        padding: 15px;
    }
    img{
        width: 100%;
        margin-bottom: -7px;
        margin-top: 10px;
        height: 100px;
    }
    a {
        font-size: 13px;
        font-weight: 500;
        color: #007185;
    }
}
.banner-backgroung{
    margin-top: -25%;
}


